.navbar{
    background-color: #806ecb;
}
.headerIconWrapper{
    background-color: #9d91d6;
    padding:10px;
    border-radius: 50%;
    cursor: pointer;
}
.headerIcon{
    color:#fff;
}
.searchBar{
    background-color: #9c91d5;
    border :1px solid #9c91d5;
    border-radius:20px;
    color:#fff;
}
.searchBar:focus{
    background-color: #9c91d5;
    color:#fff;
    text-indent: 10px;
}
.searchBar::placeholder{
    color: #efefef;
}
.supplierName{
    color:#fff;
    font-size: 16px;
    margin-left:20px;
    margin-right:20px;
    margin-top:6px
}
.brandLogo{
    color:#f5f4fb;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    
}